* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;

}

section {
    padding: 5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 1rem;
}

img {
    width: 100vw;
}

.grid-item {
    background-color: cornflowerblue;
    width: 300px;
    height: 300px;
}

.grid {
    display: grid;
    padding-top: 3rem;
    grid-gap: 25px;
    grid-template-columns:repeat(3, 1fr);
}